/node_modules
/public/hot
/public/storage
/public/uploads/anuidade
/public/uploads/bones
/public/uploads/camisas
/public/uploads/canecas
/public/uploads/diretoria
/public/uploads/eventos
/public/uploads/senai_cimatec
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
